<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CineInfoSuite">
	<!-- <listeners>
		<listener
			class-name="cine.info.listener.AnnotationTransformer" />
	</listeners> -->
	<test name="CineInfoTest" thread-count="1">
		<parameter name="browser" value="edge" />
		<classes>
			<class name="cine.info.tests.TC0001_CineInfoTest" />
			<class name="cine.info.tests.TC0002_CineInfoTest" />
		</classes>
	</test>
</suite> <!-- Suite -->
